* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  background: rgb(233, 175, 204);
  background: radial-gradient(circle, rgb(233, 175, 204) 14%, rgb(238, 174, 202) 41%, rgb(205, 141, 210) 100%);
}

/*--------------------------------------------- ESTILOS DE LA NAV ----------------------------------*/
nav {
  background: rgb(233, 175, 204);
  background: radial-gradient(circle, rgb(233, 175, 204) 14%, rgb(238, 174, 202) 41%, rgb(205, 141, 210) 100%);
}
nav .logo-principal__header {
  width: 80px;
  animation: logo-navbar 2s linear 0s 1 normal none;
}
nav li {
  font-size: large;
}
nav li a:active {
  color: red;
}
nav li .nav-link {
  color: rgb(97, 27, 27);
  letter-spacing: 5px;
}

/* --------------------------------------------- ESTILOS PARA EL CAROUSEL ------------------------------*/
.div__carousel-text {
  animation: animation-carousel 2s ease 0s 1 normal none;
  background: rgba(253, 251, 251, 0.75);
}
.div__carousel-text h5 {
  font-size: 40px;
  color: rgb(17, 17, 17);
  letter-spacing: 5px;
}
.div__carousel-text p {
  color: black;
  font-size: 25px;
}
.div__carousel-text:hover {
  background: rgba(247, 194, 194, 0.75);
}

/* -------------------------------------------- ESTILOS DEL MAIN ------------------------------ */
.div__texto-principal {
  margin-top: 10px;
  background-image: linear-gradient(90deg, rgba(2, 1, 28, 0.6) 0%, rgba(17, 16, 16, 0.6) 16%, rgba(17, 67, 78, 0.6) 100%), url(../Imagenes/imagen-principal2.jpg);
}
.div__texto-principal h1 {
  color: white;
  text-shadow: 4px 4px 2px rgba(8, 8, 8, 0.6);
}

.section-info {
  background: rgb(145, 118, 130);
  background: linear-gradient(160deg, rgb(145, 118, 130) 0%, rgb(224, 211, 230) 100%);
}
.section-info .section-info h2 {
  color: white;
}

.imagen__section-info {
  margin: 20px 0 20px 0;
}

/* -------------------------------------------- ESTILOS SECCION TESTIMONIOS ------------------------------ */
.section__testimonios h3 {
  background: linear-gradient(90deg, rgba(2, 1, 28, 0.6) 0%, rgba(17, 16, 16, 0.6) 16%, rgba(17, 67, 78, 0.6) 100%);
  margin-bottom: 20px;
  padding: 10px;
  font-size: 40px;
  font-weight: 10px;
  letter-spacing: 10px;
  animation: titulo-pages 1s linear 0s 1 normal none;
  color: white;
}
.section__testimonios .carousel-indicators {
  left: 0;
  top: auto;
  bottom: -60px;
}
.section__testimonios .card__testimonios {
  background: rgba(228, 166, 166, 0.541);
  margin: 0 20px;
  padding: 0 10px;
  border: radius 80px;
  border: 0;
}
.section__testimonios .card__testimonios .testimonios-img {
  max-width: 150px;
  border-radius: 60%;
  margin: 15px auto 0;
  box-shadow: 0 8px 20px 0.4px rgb(20, 19, 19);
  width: 120px;
  height: 120px;
}
.section__testimonios .card__testimonios .card-body__testimonios {
  background: rgba(228, 166, 166, 0.541);
}
.section__testimonios .card__testimonios .card-body__testimonios h5 {
  color: rgb(36, 4, 4);
  font-weight: bold;
}
.section__testimonios .boton__testimonios {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.section__testimonios .boton__testimonios a {
  text-decoration: none;
}
.section__testimonios .boton__testimonios a .boton__testimonios {
  background: linear-gradient(90deg, rgba(2, 1, 28, 0.6) 0%, rgba(17, 16, 16, 0.6) 16%, rgba(17, 67, 78, 0.6) 100%);
  border: 0;
  padding: 1em;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.section__testimonios .boton__testimonios a .boton__testimonios:focus {
  color: rgb(121, 31, 31);
}
.section__testimonios .boton__testimonios a .boton__testimonios:hover {
  color: rgb(121, 31, 31);
  background: rgb(241, 126, 184);
}

footer {
  width: 100%;
  background: rgb(44, 42, 42);
  margin-top: 50px;
}
footer .footer__contenido {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 15px;
  padding: 45px 0;
}
footer .footer__contenido p {
  margin: 5px;
}
footer .footer__contenido h4 {
  color: rgb(187, 185, 83);
  font-size: 25px;
}
footer .footer__contenido a {
  color: rgb(243, 248, 248);
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
}
footer .footer__contenido a:hover {
  color: rgb(252, 248, 8);
}
footer .footer__contenido .iconos__footer {
  font-size: 40px;
  margin: 10px;
  animation: swirl-out-zoomout 2.2s ease-in 2s 1 normal none;
}
footer .footer__contenido .iconos__footer:hover {
  color: aqua;
}
footer .footer__contenido .logo__foter img {
  width: 200px;
  margin: auto;
}
footer .footer__contenido .logo__foter p {
  color: aliceblue;
}
footer .copyright__texto {
  margin-top: 30px;
  margin-top: 30px;
  font-size: 15px;
  font-weight: 10px;
  letter-spacing: 5px;
}

.div__titulo-principal-sn {
  margin-top: 106px;
}

.titulo-nosotros {
  background: linear-gradient(90deg, rgba(2, 1, 28, 0.6) 0%, rgba(17, 16, 16, 0.6) 16%, rgba(17, 67, 78, 0.6) 100%);
  padding: 10px;
  font-size: 30px;
  font-weight: 10px;
  letter-spacing: 10px;
  animation: titulo-pages 1s linear 0s 1 normal none;
}

.texto-principal-ns {
  margin: 15px;
}

.imagen-p-ns {
  width: 100%;
}

.div__titulo-sofas {
  padding-top: 106px;
}

.titulo-sofas {
  background: linear-gradient(90deg, rgba(2, 1, 28, 0.6) 0%, rgba(17, 16, 16, 0.6) 16%, rgba(17, 67, 78, 0.6) 100%);
  padding: 10px;
  font-size: 40px;
  font-weight: 10px;
  letter-spacing: 10px;
  animation: titulo-pages 1s linear 0s 1 normal none;
}

.card {
  background: linear-gradient(90deg, rgba(2, 1, 28, 0.6) 0%, rgba(17, 16, 16, 0.6) 16%, rgba(17, 67, 78, 0.6) 100%);
}
.card .imagen__card-section {
  width: 89%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 30px;
  filter: drop-shadow(11px 14px 10px rgba(250, 251, 252, 0.2));
}
.card .card-img-top {
  filter: drop-shadow(11px 14px 10px rgba(250, 251, 252, 0.2));
  animation: animatio-img-sillones 1.2s linear 0s 1 normal none;
}
.card .card-body {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: linear-gradient(160deg, rgba(145, 118, 130, 0.9416141457) 0%, rgba(227, 230, 211, 0.0620623249) 100%);
}
.card .card-body .card-title {
  font-size: 30px;
  font-family: monospace;
  text-align: center;
}
.card .card-body .card-text {
  font-size: 20px;
}

.titulo-contacto {
  font-size: 3em;
}

.apellido {
  color: red;
}

.form-contenido {
  box-shadow: 0 0 20px 0 rgba(255, 253, 253, 0.5);
  background: rgba(221, 236, 241, 0.658);
}
.form-contenido form {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.form-contenido form,
.form-contenido input,
.form-contenido textarea,
.form-contenido button {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  border-bottom: 1px solid rgba(12, 11, 11, 0.651);
}

.form-contenido form button {
  background: linear-gradient(90deg, rgba(2, 1, 28, 0.6) 0%, rgba(17, 16, 16, 0.6) 16%, rgba(17, 67, 78, 0.6) 100%);
  border: 0;
  padding: 1em;
}

.form-contenido form .block {
  grid-column: 1/3;
}

/* ANIMACIONES */
@keyframes animation-carousel {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ----------------------------------- ANIMACION LOGO PRINCIPAL -------------------------------- */
@keyframes logo-navbar {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}
/* ----------------------------------- ANIMACION FOOTER  ---------------------------------------- */
@keyframes animation__logo-footer {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/* ----------------------------------- ANIMACION TITULOS DE PAGES   ---------------------------------------- */
@keyframes titulo-pages {
  0% {
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
/* -------------------------- ANIMACIONES PARA LAS IMAGENES DE PAGE SOFAS Y ESQINEROS   ------------------- */
@keyframes animatio-img-sillones {
  0% {
    transform: scale(7);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  35% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(1.5);
    animation-timing-function: ease-in;
  }
  70% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  80% {
    transform: scale(1.24);
    animation-timing-function: ease-in;
  }
  90% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(1.04);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
/* -------------------------- ANIMACIONES PARA ICONOS DEL FOOTER   ------------------- */
@keyframes swirl-out-zoomout {
  0% {
    transform: rotate(540deg) scale(5);
    opacity: 1;
  }
  100% {
    transform: rotate(0) scale(1);
    opacity: 0;
  }
}
/* @media (max-width: 991px) {
  nav {
    height: 50px;
  }
} */
@media (max-width: 548px) {
  .div__carousel {
    margin-top: 106px;
  }
}
@media (max-width: 767px) {
  .imagen-principal {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .texto-principal {
    display: block;
    text-align: center;
    margin: 6rem;
    padding: 5%;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 5px;
  }
  .somos-fabricantes {
    display: flex;
    flex-wrap: nowrap;
  }
  .titulo__section-info {
    display: block;
    text-align: center;
    margin: 1rem;
    padding: 5%;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 10px;
  }
  .texto__section-info {
    font-size: 25px;
    text-align: justify;
    margin-top: 60;
    margin: 20px;
    padding: 25px 0px 0px 30px;
    color: rgb(255, 254, 254);
  }
  .nuestro-trabajo {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }
  /*  PAGE NOSOTROS */
  .intro_section-ns {
    display: flex;
    flex-direction: row;
  }
  .container-nosotros {
    display: flex;
    flex-direction: row;
  }
  .imagen-principal-ns {
    width: 50%;
  }
  .imagen-p-ns {
    width: 320%;
    height: 70%;
  }
  .texto-principal-ns {
    display: flex;
    margin-top: 100px;
    margin: 20px;
    font-size: 50px;
    font-weight: 10px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
  }
  .imagen-p-ns {
    width: 600px;
    margin: 10px;
  }
  .texto__parrafo-ns {
    font-size: 50%;
    margin: 10px;
  }
}
@media (max-width: 767px) {
  .imagen__section-info {
    width: 100%;
  }
}
/* FOOTER */
@media (min-width: 767px) {
  footer .footer__contenido {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
