footer {
  width: 100%;
  background: rgb(44, 42, 42);
  margin-top: 50px;

  .footer__contenido {
    width: 100%;

    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    padding: 45px 0;

    p {
      margin: 5px;
    }

    h4 {
      color: rgb(187, 185, 83);
      font-size: 25px;
    }

    a {
      color: rgb(243, 248, 248);
      font-size: 20px;
      display: inline-block;
      text-decoration: none;
      &:hover {
        color: rgb(252, 248, 8);
      }
    }

    .iconos__footer {
      font-size: 40px;
      margin: 10px;
      animation: swirl-out-zoomout 2.2s ease-in 2s 1 normal none;
      &:hover {
        color: aqua;
      }
    }

    .logo__foter {
      img {
        width: 200px;
        margin: auto;
      }
      p {
        color: aliceblue;
      }
    }
  }
  .copyright__texto {
    margin-top: 30px;

    margin-top: 30px;
    font-size: 15px;
    font-weight: 10px;
    letter-spacing: 5px;
  }
}
