.div__titulo-principal-sn {
  margin-top: 106px;
}

.titulo-nosotros {
  background: $gradiend-segundario;
  padding: 10px;
  font-size: 30px;
  font-weight: 10px;
  letter-spacing: 10px;
  animation: titulo-pages 1s linear 0s 1 normal none;
}
.texto-principal-ns {
  margin: 15px;
}
.imagen-p-ns {
  width: 100%;
}
